Trabalho de Projetos de Circuitos Digitais (Laboratório e Simulação de IA). Engenharia de Computação, UNIFATECPR, 7ºP.                               

**Alunos**: Douglas Domingues das Silveira, Jesse Breno Evangelista e Sergio Otilio Carneiro.  
                                                                                
Primeiro iremos importar os pacotes necessários.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import svm
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split

In [4]:
#aqui, apesar de já conhecer os dados, vamos visualizar para checar se está tudo certo
pd.options.display.max_columns = None

In [5]:
#então carregar o conjunto e e verificar os dados
train = pd.read_csv('trabalhoIA.csv')
train.head()

,unidade_apelido,quitado,frequencia,financeiro,administrativo,cobranca,direcao,secretaria,venda,comercial,recepcao,coordenacao,status,titular
0,Capão Redondo,True,0.00,0,0,0,0,0,0,0,1,0,6,True
1,Capão Redondo,False,0.20,0,0,0,0,2,0,0,0,0,6,True
2,Capão Redondo,False,0.39,0,0,0,0,5,0,0,0,0,1,True
3,Capão Redondo,True,0.84,0,0,0,0,0,0,0,0,6,1,True
4,Capão Redondo,False,0.00,1,0,0,0,0,0,0,0,0,33,True

In [6]:
#Apesar de já ter sido feito todo o pre processamento, verificamos que a coluna unidade_apelido entrou na base. Essa coluna não tem relevância no treino então iremos remover ela:
train.drop(['unidade_apelido'],axis=1,inplace=True)

In [7]:
#então verificar se realmete foi dropada:
train.head()

,quitado,frequencia,financeiro,administrativo,cobranca,direcao,secretaria,venda,comercial,recepcao,coordenacao,status,titular
0,True,0.00,0,0,0,0,0,0,0,1,0,6,True
1,False,0.20,0,0,0,0,2,0,0,0,0,6,True
2,False,0.39,0,0,0,0,5,0,0,0,0,1,True
3,True,0.84,0,0,0,0,0,0,0,0,6,1,True
4,False,0.00,1,0,0,0,0,0,0,0,0,33,True

In [8]:
#Agora vamos remover a Resposta que se quer alcançar que é se a parcela foi quitada ou não, a coluan com a informacao é a coluna quitado. Então primeiro iremos copiar o modelo com esta coluna e depois remover ela do treino.
target = train.quitado.copy()
train.drop(['quitado'],axis=1,inplace=True)

In [10]:
#Como temos todos os dados do modo que queremos, podemos então criar o modelo de Regressão Logística:
lr_model = LogisticRegression(solver='liblinear')
lr_model.fit(train, target)

LogisticRegression(solver='liblinear')

In [12]:
#verificar quanto o modelo acertou ou não:
acc_logReg = round(lr_model.score(train, target) *100,2)
print("A % de acurácia do modelo de Regressão Logística é de: {}".format(acc_logReg))

A % de acurácia do modelo de Regressão Logística é de: 76.05

In [9]:
#Agora vamos criar um segundo modelo utilizando  Validação Cruzada
#x = train, y = target
X_train, X_test, y_train, y_test = train_test_split(train, target, test_size=0.4, random_state=0)

In [10]:
#agora iremos verificar a acurácia deste modelo
clf = svm.SVC(kernel='linear', C=1).fit(X_train, y_train)

In [11]:
clf_log = clf.score(X_test, y_test)

In [20]:
print("A % de acurácia do modelo de Regressão Logística é de: {}".format(round(clf_log*100,2)))

A % de acurácia do modelo de Regressão Logística é de: 76.65

In [48]:
#O terceiro modelo vai ser a Árvore de Decisão

#treinar o modelo
tree_model = DecisionTreeClassifier(max_depth=2) 
tree_model.fit(train.values, target.values)

DecisionTreeClassifier(max_depth=2)

In [51]:
#Emm seguida avaliar a acurácia
acc_tree = round(tree_model.score(train.values, target.values) *100,2)
print("A % de acurácia do modelo de Regressão Logística é de: {}".format(acc_tree))

A % de acurácia do modelo de Regressão Logística é de: 79.72

In [60]:
#agora iremos testar com alguns valores para ver se o modelo vai acertar ou não
#frequencia, financeiro, admnistrativo, cobranca, direcao, secrtaria,venda, recepacao, coordenacao, status, titular
possivel_pagador = np.array([.30, 0, 0, 0, 0, 0, 0, 15, 10 , 2, 1, 1]).reshape((1, -1))

print("Vai pagar a parcela ? \t {}".format(tree_model.predict(possivel_pagador)[0]))

Vai pagar a parcela ? 	 False